* {
    margin: 0;
    padding: 0;
}

header {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(87, 87, 87, 1) 47%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    font-weight: bold;
    padding: 20px 50px;
}

h1 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xxx-large;
    text-align: center;
    color: ivory
}

h3{
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: xx-large;
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
    justify-content: flex-start;
}

p{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 80%;
}

section{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 20px;
}

section article{
    width: 95%;
    border: 7px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin: 30px;
    border-style:outset;
    height: 300px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    background-color: lightslategrey;
    justify-content: space-between;

}

section article div.text-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

section article img{
    width: 150px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
}
