body{
    background-color: lightblue;
}

div{
    font-size: 20px;
}

h2{
    text-decoration: underline; 
    color: white
}

.parrafo1{
    color: navy;
}
.parrafo2{
    text-transform: uppercase; 
    text-align: justify;
}
.parrafo3{
    size: 12px;
}